//
// Elementor Section Black
// ----------------------------------------------------------------------------
.elementor-section-black {

  color: white;
  background-color: $black;

  .numero_presentacio {

    background-color: transparent;

    > .elementor-widget-container {
      background-color: transparent;
    }

    &,
    h2,
    p,
    p a {
      color: white;
    }

  }

}