#giny_header_logo_report {

  position: fixed;
  top: 0;
  left: rem(130);
  right: rem(30);

  .elementor-widget-container {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(14);
  
    &:before {
      content: "";
      display: block;
      height: 1px;
      background: rgba(#979797,.2);
      order: 1;
    }

    h3 {
      order: 0;
      margin: 0 rem(40) 0 0;
      font-family: $main-font;
      font-weight: 700;
      font-size: rem(14);
      line-height: 0;
    }

    img {
      order: 2;
      margin: 0 0 0 rem(40);
    }
    
  }

}

#giny_header_logo_report + #giny_header_logo_report {
  display: none;
}