//
// Giny Header Black Column
// ----------------------------------------------------------------------------
$giny-header-width: 60;

.giny_header_black_column{
  
  position:absolute;
  top: rem($gutter/-2);
  left: rem($gutter/-2);
  width: rem($giny-header-width);
  height: 100vh;
  background-color: black;
  color: white;
  font-family: $main-font;
  
  &.elementor-widget,
  &.elementor-widget:not(:last-child) {
    margin: 0;
  }

  .elementor-widget-container {
    position: absolute;
    bottom: rem($giny-header-width);
    left: 50%;
    margin-left: rem(-15);
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  h2 {

    margin: 0;
    font-size: rem(19);
    line-height: 1.578947368;
    white-space: nowrap;

    span {
      color: $brand-primary;
    }

  }

}
