//
// Header global de totes les slides
// ----------------------------------------------------------------------------
#giny_header_logo_report {

  position: fixed;
  top: rem(40);
  left: rem(130);
  right: rem(30);
  width: auto;

  .elementor-widget-container {

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  
    &:before {
      content: "";
      display: block;
      flex: 1;
      height: 1px;
      margin: rem(6) auto;
      background: rgba(#979797,.2);
      order: 1;
    }

    h3 {

      order: 0;
      margin: 0 rem(40) 0 0;
      font-family: $main-font;
      font-weight: 700;
      font-size: rem(14);
      line-height: 1;
    
      &:after {
        content: none !important;
      }
      
    }

    img {
      flex: 0 1 rem(100);
      order: 2;
      margin: 0 0 0 rem(40);
    }
    
  }

}

#giny_header_logo_report + #giny_header_logo_report { // Prevenir que quan aquest contingut està duplicat es visualitzi més d'un cop
  display: none;
}