$giny-header-width: 60;

.giny_header_black_column{
  
  position:absolute;
  top: rem($gutter/-2);
  left: rem($gutter/-2);
  width: rem($giny-header-width);
  height: 100vh;
  background-color: black;
  color: white;
  font-family: $main-font;
  
  .elemenentor-widget-container {
    position: absolute;
    bottom: rem($giny-header-width);
    transform: rotate(-90deg);
  }

  h2 {

    margin: 0;
    white-space: nowrap;

    span {
      color: $brand-primary;
    }

  }

}
