//
// Número presentació
// ----------------------------------------------------------------------------
.numero_presentacio {

  display: flex;
  flex-direction: column;
  max-width: rem(420);
  padding: rem(50);
  margin: 0 auto;
  background-color: white;
  font-family: $main-font;
  text-align: center;
  box-shadow: -1px -1px rem(40) rem(6) rgba($black,.4);

  h2 + p,
  p + p {
    margin: rem(34) auto 0;   
  }

  h2 {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-weight: 700;
    color: $black;  

    span:first-child {
      color: $brand-primary;
      font-size: rem(180);
      line-height: .8;
    }

    span:last-child {
      font-size: rem(33);
      line-height: 1.363636364;
    }

  }

  p {

    color: $black;
    font-weight: 700;

    a {

      color: $black;
      font-weight: 700;
      text-decoration: underline;
      transition: all $animation-fade;

      &:hover {
        color: $brand-primary;
      }
    
    }

  }

}
