//
// Variables
// ----------------------------------------------------------------------------

// Color Palette
// ----------------------------------------------------------------------------
$red: #E24446;
$black: black;

$brand-primary: $red;

// Typography
// ----------------------------------------------------------------------------
$main-font: Arial, sans-serif;
$browser-context: 16;